/*variables*/
:root {
    --kreativa-font: "Century Gothic", sans-serif;
    --kreativa-gray: #110d2733;
    --kreativa-gray-rgb: 17, 13, 39, 0.2;
    --kreativa-base-clear: #ff00730f;
    --kreativa-base-clear-rgb: 255, 0, 115, 0.06;
    --kreativa-white: #ffffff;
    --kreativa-white-rgb: 255, 255, 255;
    --kreativa-black: #110d27;
    --kreativa-black-rgb: 17, 13, 39;
    --kreativa-base: #ff0072;
    --kreativa-base-rgb: 255, 0, 114;
    --kreativa-secondary: #8d25fc;
    --kreativa-secondary-rgb: 141, 37, 252;
    --kreativa-bdr-radius: 10px;
}

* {
    font-family: var(--kreativa-font);
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    color: var(--kreativa-black);
    margin: 0;
    font-family: var(--kreativa-font);
    font-weight: 800;
}

.cotizacion_form .btn-light {
    border: none;
}

.cotizacion_form .btn-light:hover {
    border: none;
}

.cotizacion_input_box {
    height: 68px;
    width: 100%;
    border: none;
    background-color: #f6f4f9;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
    border-radius: var(--kreativa-bdr-radius);
    outline: none;
    font-size: 14px;
    color: var(--kreativa-gray);
    display: block;
}

.cotizacion_check_box {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    margin-right: 0px;
    margin-bottom: 0;
    color: var(--kreativa-gray);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    text-transform: none;
    cursor: pointer;
    font-family: var(--kreativa-font);
}

.form_input {
    position: relative;
    display: block;
    height: 50px;
    width: 100%;
    border: none;
    background-color: var(--kreativa-base-clear);
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
    border-radius: var(--kreativa-bdr-radius);
    outline: none;
    font-size: 14px;
    color: var(--kreativa-black);
    display: block;
    font-family: var(--kreativa-font);
}

.form-label {
    font-size: 14px;
    font-weight: bolder;
}

.icon-btn {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    position: relative;
    display: block;
    padding-left: 19px;
    padding-right: 20px;
    border: none;
    background-color: var(--kreativa-base);
    margin-bottom: 10px;
    border-radius: var(--kreativa-bdr-radius);
    outline: none;
    font-size: 16px;
    color: var(--kreativa-white);
    font-family: var(--kreativa-font);
}

.thm-btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    outline: none !important;
    background-color: var(--kreativa-base);
    color: var(--kreativa-white);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 40px 12px;
    transition: all 0.3s linear;
    overflow: hidden;
    z-index: 1;
    font-family: var(--kreativa-font);
    letter-spacing: 0.1em;
    border-radius: var(--kreativa-bdr-radius);
    border: none;
    margin: 0;
}

.thm-btn-2 {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    outline: none !important;
    background-color: var(--kreativa-black);
    color: var(--kreativa-white);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 40px 12px;
    transition: all 0.3s linear;
    overflow: hidden;
    z-index: 1;
    font-family: var(--kreativa-font);
    letter-spacing: 0.1em;
    border-radius: var(--kreativa-bdr-radius);
    border: none;
    margin: 0;
}

.thm-btn:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--kreativa-black);
    transform: scale(0);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border-radius: var(--kreativa-bdr-radius);
    opacity: 1;
    z-index: -1;
}

.thm-btn-2:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--kreativa-base);
    transform: scale(0);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border-radius: var(--kreativa-bdr-radius);
    opacity: 1;
    z-index: -1;
}

.thm-btn-2:hover:after {
    opacity: 1;
    transform: scale(1);
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.thm-btn-2:disabled {
    opacity: 0.5;
}

.thm-btn:hover:after {
    opacity: 1;
    transform: scale(1);
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.thm-btn:disabled {
    opacity: 0.5;
}

.thm-btn:disabled:after {
    background-color: var(--kreativa-base);
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.thm-btn:disabled:hover:after {
    background-color: var(--kreativa-base);
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.thm-btn-2:disabled:after {
    background-color: var(--kreativa-black);
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.thm-btn-2:disabled:hover:after {
    background-color: var(--kreativa-black);
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.form_btn {
    display: block;
    margin: 0 auto;
}

.section-title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.form_text_area {
    position: relative;
    display: block;
    border: none;
    background-color: var(--kreativa-base-clear);
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
    border-radius: var(--kreativa-bdr-radius);
    outline: none;
    font-size: 16px;
    color: var(--kreativa-black);
    font-family: var(--kreativa-font);
    width: 100%;
}

.add-btn {
    height: 68px;
    width: 68px;
    position: relative;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: var(--kreativa-bdr-radius);
    outline: none;
    border: none;
    background-color: var(--kreativa-base);
    color: var(--kreativa-white);
}

.form-textarea {
    padding-top: 15px;
    height: 120px;
}

.inline-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1;
    white-space: nowrap;
    background-color: var(--kreativa-base);
    color: var(--kreativa-white);
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s linear;
    border-radius: var(--kreativa-bdr-radius);
    border: none;
    outline: none !important;
    margin: 0;
    margin-bottom: 10px;
}

.section-title {
    margin-top: 50px;
}

.detalles-text {
    font-size: 16px;
    line-height: 32px;
    margin: 0;
}

.titulo-respuesta {
    margin: 0;
    color: var(--kreativa-black);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 25px;
}

.respuesta {
    display: -webkit-box;
    display: flex;
    border-bottom: 1px solid #e2e0e5;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.contenido-respuesta {
    position: relative;
    margin-left: 45px;
}

.kreativa-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--kreativa-base-clear);
    border-radius: var(--kreativa-bdr-radius);
    overflow: hidden;
    font-family: var(--kreativa-font);
    color: var(--kreativa-black);
}

.kreativa-table thead {
    background-color: var(--kreativa-base);
    color: var(--kreativa-white);
    font-size: 16px;
    text-transform: uppercase;
}

.kreativa-table thead th {
    padding: 15px;
    text-align: left;
}

.kreativa-table tbody tr {
    border-bottom: 1px solid var(--kreativa-gray);
    transition: background-color 0.3s ease-in-out;
}

.kreativa-table tbody tr:nth-child(even) {
    background-color: var(--kreativa-base-clear);
}

.kreativa-table tbody tr:hover {
    background-color: var(--kreativa-secondary);
    color: var(--kreativa-white);
}

.kreativa-table tbody td {
    padding: 15px;
    font-size: 14px;
}

.kreativa-table tbody td:last-child {
    text-align: center;
}

/* Estilos para el botón */
.kreativa-table .btn-warning {
    background-color: var(--kreativa-secondary);
    border: none;
    color: var(--kreativa-white);
    padding: 8px 12px;
    border-radius: var(--kreativa-bdr-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.kreativa-table .btn-warning:hover {
    background-color: var(--kreativa-base);
}

/* Responsive */
@media (max-width: 768px) {
    .kreativa-table thead {
        display: none;
    }

    .kreativa-table tbody tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid var(--kreativa-gray);
        border-radius: var(--kreativa-bdr-radius);
    }

    .kreativa-table tbody td {
        display: block;
        text-align: right;
        padding: 10px;
        font-size: 14px;
        position: relative;
    }

    .kreativa-table tbody td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: var(--kreativa-base);
    }
}

/*---------------NAVBAR---------------*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--kreativa-black);
    padding: 10px 40px;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo span {
    color: var(--kreativa-white);
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 4px;
}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    position: relative;
}

.menu a {
    color: var(--kreativa-white);
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
}

.menu a:hover,
.menu a.active {
    text-decoration: underline;
    color: var(--kreativa-secondary);
    transition: all 0.3s linear;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--kreativa-black);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 5px 20px;
}

.dropdown-menu a {
    color: var(--kreativa-white);
    font-size: 14px;
    text-decoration: none;
}

.dropdown-menu a:hover {
    color: var(--kreativa-secondary);
}

.login-button {
    background-color: var(--kreativa-base);
    color: var(--kreativa-black);
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: var(--kreativa-bdr-radius);
}

.login-button:hover {
    color: var(--kreativa-white);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--kreativa-white);
    margin: 4px 0;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: var(--kreativa-black);
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px 0;
    }

    .menu.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .logo {
        margin-left: 50px;
    }

    .dropdown-menu {
        position: static;
        box-shadow: none;
    }

    .dropdown:hover .dropdown-menu {
        display: none;
    }

    .dropdown-toggle::after {
        content: "\25BC";
        display: inline-block;
        margin-left: 5px;
    }

    .dropdown.active .dropdown-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.pink-icon {
    color: var(--kreativa-base);
    padding-right: 10px;
}

/* Botones pequeños */
.thm-btn-small {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: var(--kreativa-bdr-radius);
    min-width: 80px;
    text-align: center;
    margin-left: 10px;
}

.thm-btn-small-2 {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: var(--kreativa-bdr-radius);
    min-width: 80px;
    text-align: center;
    margin-left: 10px;
}

/* Contenedor de los botones */
.botones-grupo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-left: -10px;
}

/* ---------- Servicios -------------*/
.services-title a {
    color: var(--kreativa-black);
    font-weight: 600;
}

.services-title a:hover {
    color: var(--kreativa-base);
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

.services-arrow {
    color: gray;
    text-decoration: none;
}

.services-arrow:hover {
    color: var(--kreativa-base);
    transition: color 0.3s ease-in-out;
}

.services-card {
    background-color: var(--kreativa-white);
    border-radius: var(--kreativa-bdr-radius);
}

.services-card:hover {
    background-color: var(--kreativa-base-clear);
    transition: background-color 0.3s ease-in-out;
}

/* Estandard Botones */

/* Botón para CREAR (verde) */
.btn-crear {
    background-color: #28a745;
    color: var(--kreativa-white);
}

.btn-crear:hover {
    background-color: #218838;
}

/* Botón para EDITAR (azul) */
.btn-editar {
    background-color: #007bff;
    color: var(--kreativa-white);
}

.btn-editar:hover {
    background-color: #0056b3;
}

/* Botón para ELIMINAR (rojo) */
.btn-eliminar {
    background-color: #dc3545;
    color: var(--kreativa-white);
}

.btn-eliminar:hover {
    background-color: #a71d2a;
}

/* Botón para VER (amarillo) */
.btn-ver {
    background-color: #ffc107;
    color: var(--kreativa-black);
}

.btn-ver:hover {
    background-color: #e0a800;
}

/* Botón para ACTIVAR (verde oscuro) */
.btn-activar {
    background-color: #28a745; /* Verde */
    color: var(--kreativa-white);
}

.btn-activar:hover {
    background-color: #218838;
}

/* Botón para DESACTIVAR (anaranjado) */
.btn-desactivar {
    background-color: #ff8c00; /* Anaranjado */
    color: var(--kreativa-white);
}

.btn-desactivar:hover {
    background-color: #e07b00;
}

/* Botón para VOLVER (rosado Kreativa) */
.btn-volver {
    background-color: #ff0072;
    color: var(--kreativa-white);
}

.btn-volver:hover {
    background-color: #5a6268;
}

/* Botones pequeños */
.thm-btn-small {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: var(--kreativa-bdr-radius);
    min-width: 80px;
    text-align: center;
    margin-left: 10px;
}

/* Contenedor de los botones */
.botones-grupo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-left: -10px;
}

/* Botón para GUARDAR CAMBIOS */
.btn-guardar {
    background-color: #ff0072;
    color: var(--kreativa-white);
}

.btn-guardar:hover {
    background-color: #d6005f;
}

.search-container,
.select-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 250px;
}

.search-input {
    width: 100%;
    padding: 8px 8px 8px 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.icon-search {
    position: absolute;
    left: 10px;
    width: 18px;
    height: 18px;
    stroke: #323232;
}

.select-input {
    width: 100%;
    padding: 8px 35px 8px 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
}

.icon-arrow {
    position: absolute;
    right: 10px;
    width: 16px;
    height: 16px;
    stroke: #121923;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--kreativa-base-clear);
}

.login-card {
    width: 550px;
    padding: 40px;
    background-color: var(--kreativa-white);
    border-radius: var(--kreativa-bdr-radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-header h2 {
    font-size: 28px;
    font-weight: 700;
    color: var(--kreativa-black);
}

.login-header p {
    font-size: 16px;
    color: var(--kreativa-gray);
}

.login-form .form-group {
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    height: 55px;
    padding: 10px;
    border: 2px solid var(--kreativa-gray);
    border-radius: var(--kreativa-bdr-radius);
    font-size: 16px;
}

.login-btn {
    width: 35%;
    padding: 1px;
    font-size: 16px;
    font-weight: bold;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.swal-button-kreativa {
    background-color: #e91e63 !important;
    color: white !important;
    font-weight: bold;
    border-radius: var(--kreativa-bdr-radius);
}

.swal-button-kreativa:hover {
    background-color: #C2185B !important;
}


/* Jerarquía de Usuarios */
.jerarquia-section {
    margin-top: 20px;
}

.jerarquia-title {
    font-size: 20px;
    font-weight: bold;
    color: var(--kreativa-black);
    margin-bottom: 10px;
    text-align: center;
}

.jerarquia-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.jerarquia-card {
    background-color: var(--kreativa-white);
    border-radius: var(--kreativa-bdr-radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 250px;
    text-align: center;
}

.jerarquia-card h4 {
    color: var(--kreativa-black);
    font-size: 18px;
    margin-bottom: 5px;
}

.jerarquia-card p {
    font-size: 14px;
    color: var(--kreativa-gray);
}

.estado-activo {
    background-color: #28a745;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 5px;
}

.estado-inactivo {
    background-color: #dc3545;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 5px;
}

.loading-text,
.error-text {
    text-align: center;
    font-size: 16px;
    color: var(--kreativa-black);
}
/* Evitar el cambio de color en hover */
.no-hover tbody tr:hover {
    background-color: transparent !important;
    color: inherit !important;
}