/*variables*/
:root {
    --kreativa-font: "Century Gothic", sans-serif;
    --kreativa-gray: #110d2733;
    --kreativa-gray-rgb: 17, 13, 39, 0.2;
    --kreativa-base-clear: #ff00730f;
    --kreativa-white: #ffffff;
    --kreativa-black: #110d27;
    --kreativa-base: #ff0072;
    --kreativa-secondary: #8d25fc;
    --kreativa-bdr-radius: 12px;
    --kreativa-rosado: #ff0072;
    --kreativa-rosado-claro: #ffebf4;
    --kreativa-azul: #110d27;
    --kreativa-azul: #b8b3cf;
    --btn-azul: #007bff;
    --btn-azul-claro: #d6e9ff;
    --btn-verde: #28a745;
    --btn-verde-claro: #def7e4;
    --btn-rojo: #dc3545;
    --btn-rojo-claro: #f9dcdf;
    --btn-amarillo: #ffc02c;
    --btn-amarillo-claro: #fff9eb;
    --btn-naranja: #f46647;
    --btn-naranja-claro: #feefec;
}

* {
    font-family: var(--kreativa-font);
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    color: var(--kreativa-black);
    margin: 0;
    font-family: var(--kreativa-font);
    font-weight: 800;
}

.cotizacion_form .btn-light {
    border: none;
}

.cotizacion_form .btn-light:hover {
    border: none;
}

.cotizacion_input_box {
    height: 68px;
    width: 100%;
    border: none;
    background-color: #f6f4f9;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
    border-radius: var(--kreativa-bdr-radius);
    outline: none;
    font-size: 14px;
    color: var(--kreativa-gray);
    display: block;
}

.cotizacion_check_box {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    margin-right: 0px;
    margin-bottom: 0;
    color: var(--kreativa-gray);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    text-transform: none;
    cursor: pointer;
    font-family: var(--kreativa-font);
}

.form_input {
    position: relative;
    display: block;
    height: 45px;
    width: 100%;
    border: none;
    background-color: var(--kreativa-rosado-claro);
    border: 1px solid var(--kreativa-rosado-claro);
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
    border-radius: var(--kreativa-bdr-radius);
    outline: none;
    font-size: 14px;
    color: var(--kreativa-black);
    font-family: var(--kreativa-font);
    transition:
        border 0.2s ease,
        box-shadow 0.2s ease;
}

.form_input:hover {
    border: 1px solid var(--kreativa-rosado);
}

.form_input:focus {
    border: 1px solid var(--kreativa-rosado);
    box-shadow: 0 0 1px 2px var(--kreativa-rosado-claro);
    outline: none;
}

.form-label {
    font-size: 14px;
    font-weight: bolder;
}

.icon-btn {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    position: relative;
    display: block;
    padding-left: 19px;
    padding-right: 20px;
    border: none;
    background-color: var(--kreativa-base);
    margin-bottom: 10px;
    border-radius: var(--kreativa-bdr-radius);
    outline: none;
    font-size: 16px;
    color: var(--kreativa-white);
    font-family: var(--kreativa-font);
}

.thm-btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--kreativa-white);
    color: var(--kreativa-rosado);
    font-size: 14px;
    font-weight: bold;
    padding: 10px 25px 10px;
    transition:
        background-color 0.3s linear,
        box-shadow 0.2s ease;
    overflow: hidden;
    z-index: 1;
    font-family: var(--kreativa-font);
    border-radius: var(--kreativa-bdr-radius);
    border: var(--kreativa-rosado) solid 2px;
    margin: 0;
}

.thm-btn:after {
    display: none;
}

.thm-btn:hover {
    background-color: var(--kreativa-rosado-claro);
    color: var(--kreativa-rosado);
    transition:
        background-color 0.3s linear,
        box-shadow 0.2s ease;
    box-shadow: 0 0 1px 2px var(--kreativa-rosado-claro);
}

.thm-btn:disabled {
    opacity: 0.5;
    background-color: var(--kreativa-base);
    border-color: var(--kreativa-base);
}

.thm-btn:disabled:hover {
    background-color: var(--kreativa-base);
    transition: none;
}

.form_btn {
    display: block;
    margin: 0 auto;
}

.section-title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.add-btn {
    height: 68px;
    width: 68px;
    position: relative;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: var(--kreativa-bdr-radius);
    outline: none;
    border: none;
    background-color: var(--kreativa-base);
    color: var(--kreativa-white);
}

.form-textarea {
    padding-top: 15px;
    height: 120px;
}

.inline-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    padding: 6px 16px;
    font-size: 14px;
    line-height: 1;
    white-space: nowrap;
    background-color: var(--kreativa-base);
    color: var(--kreativa-white);
    font-weight: 600;
    transition: all 0.3s linear;
    border-radius: var(--kreativa-bdr-radius);
    border: none;
    outline: none !important;
    margin: 0;
    margin-bottom: 10px;
}

.section-title {
    margin-top: 50px;
}

.detalles-text {
    font-size: 16px;
    line-height: 32px;
    margin: 0;
}

.titulo-respuesta {
    margin: 0;
    color: var(--kreativa-black);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 25px;
}

.respuesta {
    border-bottom: 1px solid #e2e0e5;
    padding-bottom: 15px;
}

.contenido-respuesta {
    position: relative;
    margin-left: 45px;
}

.kreativa-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--kreativa-base-clear);
    border-radius: var(--kreativa-bdr-radius);
    overflow: hidden;
    font-family: var(--kreativa-font);
    color: var(--kreativa-black);
}

.kreativa-table thead {
    background-color: var(--kreativa-base);
    color: var(--kreativa-white);
    font-size: 16px;
    text-transform: uppercase;
}

.kreativa-table thead th {
    padding: 15px;
    text-align: left;
}

.kreativa-table .sort-field:hover {
    background-color: var(--kreativa-black);
    color: var(--kreativa-white);
}

.kreativa-table tbody tr {
    border-bottom: 1px solid var(--kreativa-gray);
    transition: background-color 0.3s ease-in-out;
}

.kreativa-table tbody tr:nth-child(even) {
    background-color: var(--kreativa-base-clear);
}

.kreativa-table tbody tr:hover {
    background-color: var(--kreativa-secondary);
    color: var(--kreativa-white);
}

.kreativa-table tbody td {
    padding: 15px;
    font-size: 14px;
}

.kreativa-table tbody td:last-child {
    text-align: center;
}

/* Estilos para el botón */
.kreativa-table .btn-warning {
    background-color: var(--kreativa-secondary);
    border: none;
    color: var(--kreativa-white);
    padding: 8px 12px;
    border-radius: var(--kreativa-bdr-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.kreativa-table .btn-warning:hover {
    background-color: var(--kreativa-base);
}

/* Responsive */
@media (max-width: 768px) {
    .kreativa-table thead {
        display: none;
    }

    .kreativa-table tbody tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid var(--kreativa-gray);
        border-radius: var(--kreativa-bdr-radius);
    }

    .kreativa-table tbody td {
        display: block;
        text-align: right;
        padding: 10px;
        font-size: 14px;
        position: relative;
    }

    .kreativa-table tbody td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: var(--kreativa-base);
    }
}

/*---------------NAVBAR---------------*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--kreativa-black);
    padding: 10px 40px;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo span {
    color: var(--kreativa-white);
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 4px;
}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    position: relative;
}

.menu a {
    color: var(--kreativa-white);
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
}

.menu a:hover,
.menu a.active {
    text-decoration: underline;
    color: var(--kreativa-secondary);
    transition: all 0.3s linear;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--kreativa-black);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 5px 20px;
}

.dropdown-menu a {
    color: var(--kreativa-white);
    font-size: 14px;
    text-decoration: none;
}

.dropdown-menu a:hover {
    color: var(--kreativa-secondary);
}

.login-button {
    background-color: var(--kreativa-base);
    color: var(--kreativa-black);
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s linear;
    border-radius: var(--kreativa-bdr-radius);
}

.login-button:hover {
    color: var(--kreativa-white);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--kreativa-white);
    margin: 4px 0;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: var(--kreativa-black);
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px 0;
    }

    .menu.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .logo {
        margin-left: 50px;
    }

    .dropdown-menu {
        position: static;
        box-shadow: none;
    }

    .dropdown:hover .dropdown-menu {
        display: none;
    }

    .dropdown-toggle::after {
        content: "\25BC";
        display: inline-block;
        margin-left: 5px;
    }

    .dropdown.active .dropdown-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.pink-icon {
    color: var(--kreativa-base);
    padding-right: 10px;
}

/* Botones pequeños */
.thm-btn-small {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: var(--kreativa-bdr-radius);
    min-width: 80px;
    text-align: center;
    margin-left: 10px;
}

/* Contenedor de los botones */
.botones-grupo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-left: -10px;
}

/* ---------- Servicios -------------*/
.services-title a {
    color: var(--kreativa-black);
    font-weight: 600;
}

.services-title a:hover {
    color: var(--kreativa-rosado);
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

.services-arrow {
    color: gray;
    text-decoration: none;
}

.services-arrow:hover {
    color: var(--kreativa-rosado);
    transition: color 0.3s ease-in-out;
}

.service-card {
    width: 100%;
    margin-bottom: 20px;
    max-width: 800px;
    border-radius: 20px;
    padding: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: stretch;
    gap: 0;
    height: 240px;
    overflow: hidden;
    transition:
        transform 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.service-card:hover h5 a {
    color: var(--kreativa-rosado);
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

.service-card img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
}

.service-card div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.service-card button {
    align-self: flex-end;
    margin-top: auto;
}

.service-card:nth-of-type(even) {
    flex-direction: row-reverse;
}

.service-card:nth-of-type(even) img {
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 570px) {
    .service-card img {
        display: none;
    }

    .service-card {
        flex-direction: column;
        height: auto;
    }
}

/* ---------- botones de colores --------------*/
.btn-verde {
    background-color: var(--kreativa-white);
    color: var(--btn-verde);
    border: var(--btn-verde) solid 2px;
}

.btn-verde:hover {
    background-color: var(--btn-verde-claro);
    color: var(--btn-verde);
    box-shadow: 0 0 1px 2px var(--btn-verde-claro);
}

.btn-azul {
    background-color: var(--kreativa-white);
    color: var(--btn-azul);
    border: var(--btn-azul) solid 2px;
}

.btn-azul:hover {
    background-color: var(--btn-azul-claro);
    color: var(--btn-azul);
    box-shadow: 0 0 1px 2px var(--btn-azul-claro);
}

.btn-rojo {
    background-color: var(--kreativa-white);
    color: var(--btn-rojo);
    border: var(--btn-rojo) solid 2px;
}

.btn-rojo:hover {
    background-color: var(--btn-rojo-claro);
    color: var(--btn-rojo);
    box-shadow: 0 0 1px 2px var(--btn-rojo-claro);
}

.btn-amarillo {
    background-color: var(--kreativa-white);
    color: var(--btn-amarillo);
    border: var(--btn-amarillo) solid 2px;
}

.btn-amarillo:hover {
    background-color: var(--btn-amarillo-claro);
    color: var(--btn-amarillo);
    box-shadow: 0 0 1px 2px var(--btn-amarillo-claro);
}

.btn-naranja {
    background-color: var(--kreativa-white);
    color: var(--btn-naranja);
    border: var(--btn-naranja) solid 2px;
}

.btn-naranja:hover {
    background-color: var(--btn-naranja-claro);
    color: var(--btn-naranja);
    box-shadow: 0 0 1px 2px var(--btn-naranja-claro);
}

/* Botón para VOLVER (rosado Kreativa) */
.btn-volver {
    background-color: var(--kreativa-rosado);
    color: var(--kreativa-white);
}

.btn-volver:hover {
    background-color: #ce005d;
    color: var(--kreativa-white);
}

/* Botones pequeños */
.thm-btn-small {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: var(--kreativa-bdr-radius);
    min-width: 60px;
    text-align: center;
    margin-left: 10px;
}

/* Contenedor de los botones */
.botones-grupo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-left: -10px;
}

.search-container,
.select-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 250px;
}

.search-input {
    width: 100%;
    padding: 8px 8px 8px 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.icon-search {
    position: absolute;
    left: 10px;
    width: 18px;
    height: 18px;
    stroke: #323232;
}

.select-input {
    width: 100%;
    padding: 8px 35px 8px 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
}

.icon-arrow {
    position: absolute;
    right: 10px;
    width: 16px;
    height: 16px;
    stroke: #121923;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--kreativa-base-clear);
}

.login-card {
    width: 550px;
    padding: 40px;
    background-color: var(--kreativa-white);
    border-radius: var(--kreativa-bdr-radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-header h2 {
    font-size: 28px;
    font-weight: 700;
    color: var(--kreativa-black);
}

.login-header p {
    font-size: 16px;
    color: var(--kreativa-gray);
}

.login-form .form-group {
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    height: 55px;
    padding: 10px;
    border: 2px solid var(--kreativa-gray);
    border-radius: var(--kreativa-bdr-radius);
    font-size: 16px;
}

.login-btn {
    width: 35%;
    padding: 1px;
    font-size: 16px;
    font-weight: bold;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.swal-button-kreativa {
    background-color: #e91e63 !important;
    color: white !important;
    font-weight: bold;
    border-radius: var(--kreativa-bdr-radius);
}

.swal-button-kreativa:hover {
    background-color: #c2185b !important;
}

.w-10 {
    width: 8%;
}

/* Jerarquía de Usuarios */
.jerarquia-section {
    margin-top: 20px;
}

.jerarquia-title {
    font-size: 20px;
    font-weight: bold;
    color: var(--kreativa-black);
    margin-bottom: 10px;
    text-align: center;
}

.jerarquia-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.jerarquia-card {
    background-color: var(--kreativa-white);
    border-radius: var(--kreativa-bdr-radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 250px;
    text-align: center;
}

.jerarquia-card h4 {
    color: var(--kreativa-black);
    font-size: 18px;
    margin-bottom: 5px;
}

.jerarquia-card p {
    font-size: 14px;
    color: var(--kreativa-gray);
}

.estado-activo {
    background-color: #28a745;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 5px;
}

.estado-inactivo {
    background-color: #dc3545;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 5px;
}

.loading-text,
.error-text {
    text-align: center;
    font-size: 16px;
    color: var(--kreativa-black);
}
/* Evitar el cambio de color en hover */
.no-hover tbody tr:hover {
    background-color: transparent !important;
    color: inherit !important;
}

/* ----------- PERFIL ----------- */
.perfil-container {
    max-width: 600px;
    margin: 50px auto;
    background: var(--kreativa-white);
    border-radius: var(--kreativa-bdr-radius);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
}

.perfil-card {
    padding: 20px;
    background-color: var(--kreativa-base-clear);
    border-radius: var(--kreativa-bdr-radius);
}

.perfil-header h2 {
    color: var(--kreativa-black);
    font-size: 24px;
    font-weight: bold;
}

.perfil-rol {
    background-color: var(--kreativa-secondary);
    color: var(--kreativa-white);
    display: inline-block;
    padding: 8px 12px;
    border-radius: var(--kreativa-bdr-radius);
    font-size: 14px;
    margin-top: 10px;
}

.perfil-info {
    text-align: left;
    margin-top: 20px;
}

.perfil-info p {
    font-size: 16px;
    color: var(--kreativa-black);
    padding: 8px;
    border-bottom: 1px solid var(--kreativa-gray);
}

.loading-text,
.error-text {
    text-align: center;
    font-size: 16px;
    color: var(--kreativa-black);
}
