* {
  font-family: "Century Gothic", sans-serif;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; /* Detrás del contenido */
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #110d27;
  color: #fff;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.cover {
  background-color: rgba(141, 37, 252, 0.3);
  padding: 20px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
}

header {
  background-color: #110d27;
}

#img-logo {
  padding: 0;
  margin: 0;
}

.btn-outline-pink {
  background-color: transparent;
  border: #ff0072 solid 2px;
  color: #ff0072;
}

.btn-outline-pink:hover {
  transition: all 0.2s;
  background-color: #ff0072;
  border: #ff0072 solid 2px;
  color: white;
}

.btn-pink {
  color: white;
  background-color: #ff0072;
  border: #ff0072 solid 2px;
}

.btn-pink:hover {
  transition: all 0.2s;
  background-color: #f12983;
  border: #f12983 solid 2px;
  color: white;
}

.btn-purple {
  color: white;
  background-color: #8d25fc;
  border: #8d25fc solid 2px;
}

.btn-purple:hover {
  transition: all 0.2s;
  background-color: #983ff8;
  border: #983ff8 solid 2px;
  color: white;
}

.btn-outline-purple {
  background-color: transparent;
  border: #8d25fc solid 2px;
  color: #8d25fc;
  font-weight: 700;
}

.btn-outline-purple:hover {
  transition: all 0.2s;
  background-color: #983ff8;
  border: #983ff8 solid 2px;
  color: white;
  font-weight: 700;
}

.toggle-nav {
  color: #ff0072;
  border: none;
}

.navbar-toggler {
  border: none;
  color: #ff0072;
  font-size: 1.5rem;
}

.navbar-toggler:focus {
  color: #ff0072;
  box-shadow: none;
  outline: none;
}
